@font-face {
    font-family: "Pfont";
    src: url(../Fonts/Avenir\ Regular.ttf);
}

body {
    margin: 0;
    font-family: "Pfont";
    background-image: linear-gradient(140deg, #09212C, #043E49);
}

.fond {
    height: 120vh;
    width: 100%;
    position: relative;
    background-image: url(src/fond.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 67% 100%;
}

main {
    height: 120vh;
    margin: 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}


.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    height: 450px;
    background-image: linear-gradient(145deg, #00000077, #00000025);
    backdrop-filter: blur(5px);
    border-radius: 25px;
}

.box-container {
    
    display: flex;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.box {
    width: 10px;
    height: 10px;
}

.title-container h1 {
    margin: 0;
    color: white;
    font-size: 3rem;
    margin-left: 60px;
}

.title-container p {
    margin-top: 20px;
    margin-left: 60px;
    color: white;
    font-size: 1.1rem;
    width: 400px;
    font-weight: 0;
}

.title-container a {
    margin-top: 30px;
    text-decoration: none;
    color: black;
    background-color: #63E1E1;
    text-align: center;
    width: 125px;
    margin-left: 60px;
    padding: 10px 0px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 1px #7febeb;
    margin-bottom: 40px;
}

.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    width: 90%;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.082));
    border-radius: 40px;
    border: 3px solid rgba(255, 255, 255, 0.349);
    padding: 20px;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

.list-item {
    width: 150px;
}