@font-face {
  font-family: 'Pfont';
  src: url('../Fonts/Avenir\ Regular.ttf') format('truetype');
}


body {
    margin: 0;
    border: 0;
    font-family: "Pfont";
    background-color: rgb(223, 223, 223);
}

main {
    display: flex;
    gap: 20px;
}


.title-container {
    height: 100vh;
    position: fixed;
    width: 28%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 0px 7px rgba(0, 0, 0, 0.082);
}

.title-container img {
    width: 180px;
    margin-bottom: 40px;
    height: 180px;
    border-radius: 40px;
}


.title-container h1 {
    color: rgb(0, 0, 0);
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 10px;
}

.title-container p {
    color: rgb(0, 0, 0);
    margin-top: 0;
    font-size: 1rem;
    text-align: center;
}

.title-container a {
    margin-top: 30px;
    color: black;
    text-decoration: none;
}

.title-container a:hover {
    text-decoration: underline;
}

.lp-container {
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.lp-sec {
    display: flex;
    flex-direction: row;
    height: 200px;
    transition: all 0.3s;
    margin-bottom: 20px;
}

.LP {
    background-color: white;
    width: 190px;
    min-height: 90%;
    text-align: center;
    border-radius: 9px;
    font-weight: 800;
    margin: 20px 10px;
    transition: all 0.4s;
    color: rgb(148, 148, 148);
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.178);
}

.LP a {
    color: rgb(148, 148, 148);
    text-decoration: none;
}

.LP a:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.LP:hover {
    transform: scale(106%);
    box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.349);
    
}

.LP img {
    width: 100%;
    height: 85%;
}
